.cart-modal{
    position: fixed;
    top: 0;
    left: 0;
    padding: 10vh 0 0 3vh;
    height: 100%;
    width: 100%;
    background: var(--light-bg);
    box-shadow: 0.1rem 0rem 1.3rem #bfbfbf;
    overflow:auto;
}
.cart-header{
    display: flex;
    justify-content: flex-end;
    width: 95%;
    align-items: baseline;
    padding-top: 1rem;
    .back{
        position: absolute;
        right: 1vw;
        top: 2vh;
        cursor: pointer;
        i{
            cursor: pointer;
        }
        
    }
}
.cart-container{
    table{
        width: 100%;
        tbody{
            tr.cart-items{
                padding-right: 4vw;
                padding-left: 4vw;
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
                td{display: flex;}
                .quantity{
                    justify-content: space-evenly;
                    width: 10vw;
                }
                .product{
                    width: 20vw;
                    text-align: right;
                    flex-direction: row-reverse;
                    align-items: center;
                    img{
                        max-width: 10vw;
                        margin: 0 1vw;
                        border-radius: 1rem;
                    }
                    .info{
                        width: 30vw;
                        
                    }
                }
                .price{
                    width: 10vw;
                    align-items: center;
                    justify-content: flex-end;
                }
            }
            .total,
            .notes{
                margin: 0 4vw;
            }
            .notes{
                padding-top: 1rem;
                padding-bottom:1rem;
                input{
                    width: 100%;
                    border: none;
                    text-align: right;
                    background: var(--light-bg);
                    &:focus{
                        outline: none;
                        border-bottom: 1px var(--primary-color) solid;
                    }
                    &::placeholder{
                        font-size: 1.2rem;
                        font-weight: 600;
                        color: #000;
                    }
                }
            }
            .total{
                td{
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                }
            }
            .submit-order{
                justify-content: center;
            }
            
        }
    }
}
.btn-remove{
    background: none;
    border: solid 2px var(--primary-color);
    color: var(--primary-color);
    width: 3rem;
    font-weight: bold;
    border-radius: 5px;
    &:hover{
        background: var(--primary-color);
        color: #fffaf0;
    }
}
.btn-add{
    background: none;
    border: solid 2px var(--primary-color);
    color: var(--primary-color);
    width: 3rem;
    font-weight: bold;
    border-radius: 5px;
    &:hover{
        background: var(--primary-color);
        color: #fffaf0;
    }
}
.btn-submit{
    background: var(--primary-color);
    border: 1px solid #bfbfbf;
    width: 90vw;
    height: 5vh;
    color: var(--light-color);
    border-radius: 8px;
    font-size: 1rem;

}

@media (max-width:700px) {
    .cart-header{
        .back{

        }
    }
    .cart-container{
        table{
            tbody{
                tr.cart-items{
                flex-direction: column;
                padding-bottom: 2rem;
                justify-content: center;
                align-items: center;
                .product{
                    width: 100%;
                    text-align: center;
                    flex-direction: column;
                    .img{
                        img{
                            max-width: 35vw;
                        }
                    }
                }
                .quantity{
                    padding: 1rem 0;
                    width: 100%;
                }

    }
        .total{
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            align-items: center;
        }
        .notes{
            input{
                height: 5vh;
                margin: 1rem 0;
            }
        }
    }
}
}
}
